TemperatureConverter/TemperatureConverter/Connected Services/TempConverter/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CelsiusToFarenhiet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Celsius" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CelsiusToFarenhietResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CelsiusToFarenhietResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FarenhietToCelsius">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Farenhiet" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="FarenhietToCelsiusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="FarenhietToCelsiusResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CelsiusToFarenhietSoapIn">
    <wsdl:part name="parameters" element="tns:CelsiusToFarenhiet" />
  </wsdl:message>
  <wsdl:message name="CelsiusToFarenhietSoapOut">
    <wsdl:part name="parameters" element="tns:CelsiusToFarenhietResponse" />
  </wsdl:message>
  <wsdl:message name="FarenhietToCelsiusSoapIn">
    <wsdl:part name="parameters" element="tns:FarenhietToCelsius" />
  </wsdl:message>
  <wsdl:message name="FarenhietToCelsiusSoapOut">
    <wsdl:part name="parameters" element="tns:FarenhietToCelsiusResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="CelsiusToFarenhiet">
      <wsdl:input message="tns:CelsiusToFarenhietSoapIn" />
      <wsdl:output message="tns:CelsiusToFarenhietSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="FarenhietToCelsius">
      <wsdl:input message="tns:FarenhietToCelsiusSoapIn" />
      <wsdl:output message="tns:FarenhietToCelsiusSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CelsiusToFarenhiet">
      <soap:operation soapAction="http://tempuri.org/CelsiusToFarenhiet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FarenhietToCelsius">
      <soap:operation soapAction="http://tempuri.org/FarenhietToCelsius" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CelsiusToFarenhiet">
      <soap12:operation soapAction="http://tempuri.org/CelsiusToFarenhiet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FarenhietToCelsius">
      <soap12:operation soapAction="http://tempuri.org/FarenhietToCelsius" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="https://localhost:44315/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="https://localhost:44315/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>